# Directorios de resultados
prompt_test_results/
prompt_test_markdowns/
benchmark_results/

# Permitir experimentos específicos
!benchmark_utils/experiments/exp_02_pipeline_llama3-8b/

# Logs
*.log
logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Variables de entorno
.env

# Editores
.vscode/
.idea/
*.swp
*.swo